*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/drawable/left_arrow.png
/app/src/main/java/com/example/myapplication/MyPage.kt
/app/src/main/res/navigation/nav_graph.xml
/app/src/main/res/drawable/test_profile_image.png
